body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: cadetblue;
    text-align: center;
    padding: 2em;
    
}
.title {
    font-size: 3em;
    margin-bottom: 2em;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    flex-wrap: wrap;
}
.panel {
    border-radius: 13px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    min-width: 15em;
    height: 13em;
}
.panel:nth-child(1) {
    background: rgb(113, 216, 190);
}
.panel:hover {
    box-shadow: 0 4px 15px rgb(40, 48, 62);
}
.panel:nth-child(2) {
    background: rgb(202, 107, 162);
}
.panel:nth-child(3) {
    background: rgb(201, 201, 112);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}
.panel input {
    border: none;
    background: none;
    margin-top: 0.5em;
    width: 4em;
    height: 1em;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}
.panel input:focus {
    outline: none;
}